
h1{
    color: rgb(10, 196, 186);
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    align:center;
    text-decoration:underline;
}
p{
    color: rgba(23, 168, 204, 0.966);
    text-align: justify;
    font-size: large;
}
p1{
    color: rgb(17, 231, 160);
    font-size: large;
}

p2{
    color: rgb(1, 8, 10);
    font-size: large;
}
p3{
    color:rgba(6, 14, 15, 0.863);
    font-size : large;
}
h2{
    color:rgb(11, 204, 11);
    font-size:larger;
}
h3{
    color: rgb(213, 216, 17);
    font-size: larger;
}

